{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International scholarships Listing</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h2 style="text-align: center; ">Internation Scholarships Listing</h2>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." >
    <ul id="myUL" >
    <table class="fancy-table">
        <tr>
            <th>Scholarship Name</th>
        </tr>
    </table>
   
        <li><a href="https://www.australiaawardscambodia.org/">Australia Awards Cambodia</a></li>
        <li><a href="https://us.fulbrightonline.org/countries/east-asia-pacific/cambodia">FulBright</a></li>
      
        <li><a href="https://www.idp.com/cambodia/study-in-australia/scholarships/#:~:text=The%20Endeavour%20Scholarships%20and%20Fellowships,and%20professional%20development%20in%20Australia.">Scholarships in Australia for Cambodian students(IDP)</a></li>
        <li><a href="https://www.emhrpp.com/">Erasmus Mundus</a></li>
      
        <li><a href="https://www.auckland.ac.nz/en.html">New Zealand Awards Scholarship</a></li>
        <li><a href="https://jds-scholarship.org/country/cambodia/index.html">Japanese development Scholarship</a></li>
        <li><a href="https://www.chevening.org/scholarship/cambodia/">Chevening Scholarship</a></li>
        <li><a href="https://www.s.u-tokyo.ac.jp/en/admission/scholarship.html?fbclid=IwAR2mdj6mW8LnKX3bCEtercEbFe0Xcblsd0TLNPyNVRp7c12Izit0LViHAfY">MEXT</a></li>
        <li><a href="https://www.ares-ac.be/en/cooperation-au-developpement/scholarships/advanced-bachelor-s-and-master-s-degrees-or-continuing-education-courses-in-belgium?fbclid=IwAR2yavVF2G3sv3UxxsqcmCiMs5b7CA6dIWiOZtiIYfKprfAJvjR4BFwnHyg">ARES</a></li>
        <li><a href="https://future.utoronto.ca/pearson/about/?mibextid=Zxz2cZ&fbclid=IwAR2_05Gmvaj5wFYkn4wwUl5t6Q1eNLKM1YAmYAmz770m6L17HQmPbZDyaZc">LESTER B</a></li>
        <li><a href="https://www.wgtn.ac.nz/scholarships/current/wellington-doctoral-scholarships?fbclid=IwAR0_AI6XyOb_lXEcKvaKAsd_58VooHWixMJzIHutdIs7WruG6Eg0lKLQmWA">Wellington Doctoral</a></li>
        <li><a href="https://www.sydney.edu.au/scholarships/e/australian-government-rtp-scholarship-international.html?fbclid=IwAR2m7BJgfLwEsB1aJI8Scr2wDUTThCdHqiSLFRB_2McbcBdxMU3isI1kmbo">Australian Government RTP </a></li>
        <li><a href="https://kh.usembassy.gov/global-ugrad/">Global UGRAD </a></li>
        <li><a href="https://wwwk.kangwon.ac.kr/english/selectBbsNttView.do?bbsNo=279&nttNo=164221&key=1430&fbclid=IwAR2DtLhEACG5ulOlyjfPtUuaBp1Bgpb2OSc1R_UP0TY2gObRg3fDnBbLgYM">Global Korea </a></li>
        <li><a href="https://www.ntu.edu.sg/admissions/undergraduate-programmes?listingKeyword=undefined&disciplines=all&programmelevels=all&programmetypes=all&page=1&fbclid=IwAR0T72AkCnKaLJbPwOZ5NtHKvwALg5SUFCDpKaKL_YnyUYVl66yP2ykIxlE">Nanyang Technological University</a></li>
        <li><a href="https://www.hansenleadershipinstitute.org/apply-now/?mibextid=Zxz2cZ&fbclid=IwAR1NEZD5zSy2SutwPJu2zmj0_Y08aUwKkjMSuVvGTq7b3TYn3cy00zQ7ui4">Hansen Leadership Institute</a></li>
        <li><a href="https://www.campusfrance.org/en/france-excellence-eiffel-scholarship-program?mibextid=Zxz2cZhttps%3A%2F%2Fwww.campusfrance.org%2Fen%2Ffrance-excellence-eiffel-scholarship-program%3Fmibextid%3DZxz2cZ&fbclid=IwAR1GerkUYbcU32rF3d5w-n_bg3OmoxQmWA9RFKNw2aHdNE2GOgBdbUVGzkk">France Excellence Eiffel </a></li>
        <li><a href="https://hls.harvard.edu/academics/fellowships-and-prizes/fellowships/the-reginald-f-lewis-fellowship-for-law-teaching/?fbclid=IwAR3tAlyl-1ahSj4sQAOVi78pnwy3SmCrIGJQL5NfJ4Nmq__YPawLSxyG3bE">The Reginald F. Lewis Fellowship for Law Teaching</a></li>
        <li><a href="https://ausaseanleaders.com.au/?fbclid=IwAR3p5LxzZqMFKT_Ol-qR98EjIlGcpXYiCy7Yq5zqk03EZOyjYDAmnzD8p84">Australia-ASEAN Emerging Leaders Program (A2ELP)</a></li>
        <li><a href="https://www.gatescambridge.org/?fbclid=IwAR0fB6f2qtfMtwCDCRqJyd7ogyXkrnyHY-WUjBpsDezrubH6NHuFgRvIq7U">Gates Cambridge</a></li>
        <li><a href="https://www.westernsydney.edu.au/schools/grs/scholarships/main_round_scholarships?mibextid=Zxz2cZ&fbclid=IwAR1GSYWKhb3Gb0XsPBvytUyV_n-l_mcagIbM948eQ0nMGH92Lwp3JfMHygM">Research Scholarships</a></li>
        <li><a href="https://ethz.ch/students/en/studies/financial/scholarships/excellencescholarship.html?fbclid=IwAR1UA3zkzRlF2HZtbYN8MFof6xcVCE8tmtKgt_Zy3tk8xkvdyxVZ-S5lt9w#:~:text=The%20Excellence%20Scholarship%2FESOP%20consists,for%20the%20tuition%20fee%20waiver">Excellence Scholarship and Opportunity Programme (ESOP)</a></li>
        <li><a href="https://skollscholarship.org/?fbclid=IwAR1GSYWKhb3Gb0XsPBvytUyV_n-l_mcagIbM948eQ0nMGH92Lwp3JfMHygM">Skoll Scholarship</a></li>

      </ul>
</body>

<script>
    function myFunction() {
      // Declare variables
        var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById('myInput');
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName('li');
    
      // Loop through all list items, and hide those who don't match the search query
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
    </script>
    